<?xml version="1.0" encoding="UTF-8"?>
<options>
    <autofiller>
        <fname>
            Firstname
        </fname>
        <lname>
            Lastname
        </lname>
        <email>
            exampleemail@gmail.com
        </email>
        <street>
            Streetname
        </street>
        <house>
            1
        </house>
        <apartment>
            1
        </apartment>
        <postcode>
            11111
        </postcode>
        <city>
            Examplecity
        </city>
        <phone>
            111111111
        </phone>
    </autofiller>

    <resourcePath>
        src/main/resources
    </resourcePath>
</options>
